<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="baseDesign.css">
</head>
<body>
<h1>Out Of The Box</h1>
<!-- Placeholder for Navigation Bar -->	
<div class="navBar">
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Products</a></li>
		</ul>
	</nav>
</div>
<div class="container">
	<div class="loginForms">
		<!-- Login Form -->
		<form action="loginHandler.php" method = "POST">
			Username: <input name = "username" type="text"><br>
			Password: <input name = "password" type="password"><br>
			<input name = "login" value = "login" type = "submit">
		</form>
	</div>
	<div class="loginForms">
		<!-- Registration Form -->
		<form action="registrationHandler.php" method = "POST">
			Username: <input name = "username" type="text"><br>
			First Name: <input name = "firstName" type ="text"><br>
			Email: <input name = "email" type="email"><br>
			Password: <input name = "password" type ="password"><br>
			Confirm Password: <input name = "confirmPassword" type="password"><br>
		</form>
	</div>
</div>
</body>

</html>