@charset "ISO-8859-1";

body{
	background-image: url("images/LivingRoom.jpg");
	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover; 
}

h1{
	color: grey;
}

.container{
	display: flex;
	margin-right: 10%;
	margin-left: 10%;
}

.loginForms{
	flex: 1;
	border: 2px solid rgba(211,211,211, .7);
}
